<!-- <h1>FOOTBALL Arena</h1>

<form [formGroup]="homeForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="User Name">User Name</label>
      <input type="text" class="form-control" id="uname" formControlName="uname">
      <div *ngIf="(this.homeForm.get('uname')?.touched||this.homeForm.get('uname')?.dirty)&& this.homeForm.get('uname')?.errors" class="formText err" required>Invalid Form</div>
    </div>



    <div class="mb-3">
        <label for="District">District</label>
        <input type="text" class="form-control" id="dist" formControlName="dist">
        <div *ngIf="(this.homeForm.get('dist')?.touched||this.homeForm.get('dist')?.dirty)&& this.homeForm.get('dist')?.errors" class="formText err" required>Invalid Form</div>
      </div>

      <button type="submit" class="btn btn-primary">login</button>
  </form>
 -->
<h1>hiiii</h1>
<button type="button"  class="btn btn-primary btn-lg">SHOW DATA</button>