<h1>FOOTBALL UNITED</h1>

<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="mb-3">
        <label for="User Name">User Name</label>
        <input type="text" class="form-control" id="uname" formControlName="uname">
        <div *ngIf="(this.registerForm.get('uname')?.touched||this.registerForm.get('uname')?.dirty)&& this.registerForm.get('uname')?.errors"
            class="formText err" required>Invalid Form</div>
    </div>

    <div class="mb-3">
        <label for="Age">Age</label>
        <input type="text" class="form-control" id="age" formControlName="age">
        <div *ngIf="(this.registerForm.get('age')?.touched||this.registerForm.get('age')?.dirty)&& this.registerForm.get('age')?.errors"
        class="formText err" required>Invalid Form</div>
    </div>

    <div class="mb-3">
        <label for="District">District</label>
        <input type="text" class="form-control" id="dist" formControlName="dist">
        <div *ngIf="(this.registerForm.get('dist')?.touched||this.registerForm.get('dist')?.dirty)&& this.registerForm.get('dist')?.errors"
            class="formText err" required>Invalid Form</div>
    </div>

    <div class="mb-3">
        <label>VACCINE:</label>

        <input type="radio" class="form-control" id="vac" formControlName="vac" value="covin">
        <label>covin:</label>

        <input type="radio" class="form-control" id="vac" formControlName="vac" value="shield">
        <label>shield</label>


        <div *ngIf="(this.registerForm.get('vaccine')?.touched||this.registerForm.get('vaccine')?.dirty)&& this.registerForm.get('vaccine')?.errors"
            class="formText err" ) required>Invalid Form</div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    <a routerLink="">login</a>
</form>